*.pyc
venv/
dump.rdb
.env
connections/LOGS/*.log
!connections/LOGS/.gitkeep
uav_simulator/LOGS_sim/*.log
!uav_simulator/LOGS_sim/.gitkeep
uav_simulator/*.bin
uav_simulator/*.parm
uav_simulator/*.tlog
uav_simulator/*.raw
uav_simulator/terrain/*
uav_simulator/logs/*
uav_simulator/uploads/*
!uav_simulator/uploads/.gitkeep
terrain/*
logs/*
*.bin
*.parm
*.tlog
*.raw
