:root {
  --primary-color: #ff4655;
  --white-color: #ece8e1;
  --green-color: #46ff7e;
  --background-color: #0f1923;
  --border-color: #424242;
  --border-width: 2px;
}

html, body {
  height: 100%;
  background-color: var(--background-color);
  color: var(--white-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-container{
  display: grid;
  height: 100vh;
  grid-template-columns: 1.6fr 0.4fr;
  grid-template-rows: 1.5fr 0.5fr;
}

#map {
  height: 100%;
}

.section-container {
  border: var(--border-width) solid var(--border-color);
}

.command-buttons {
  overflow-y: auto;
}

.buttons-set-container {
  padding: 20px 0 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.button {
  margin-top: 10px;
  background: var(--background-color);
  color: var(--white-color);
  width: 16vw;
  height: 40px;
  padding: 8px;
  border: 2px solid var(--white-color);
  box-shadow: inset 0 0 0 0 var(--primary-color);
  transition: 100ms linear;
}

.button:hover {
  box-shadow: inset 16vw 0 0 0 var(--primary-color);
  cursor: pointer;
}

.button:active {
  box-shadow: inset 16vw 0 0 0 var(--background-color);
}

.log {
  font-size: 20px;
  overflow-y: auto;
}

#actions-logs {
  color: var(--primary-color);
  margin-top: 10px;
}

.json-sent {
  padding: 10px;
}

.json-received {
  padding: 10px;
  color: var(--white-color);
}

.connection-status {
  display: flex;
  align-items: center;
  justify-content: center;
}

#connected {
  color: var(--green-color);
}

#disconnected {
  color: var(--primary-color);
}