html, body {
  height: 100%;
  background-color: #0f1923;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-container {
  height: 100%;
}

.wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
}

.map-logs-container {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.map {
  height: 80%;
  border: 2px solid #424242;
}

.logs-container {
  height: 20%;
  border: 2px solid #424242;
  padding: 20px;
  font-size: 20px;
  overflow-y: auto;
}

#actions-logs {
  color: #ff4655;
  margin-top: 10px;
}

.sidebar {
  width: 20%;
  height: 100%;
  text-align: center;
  border: 2px solid #424242;
  overflow-y: auto;
}

.buttons-set-container {
  padding: 20px 0 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.button {
  margin-top: 10px;
  background: #0f1923;
  color: #ece8e1;
  width: 16vw;
  height: 40px;
  padding: 8px;
  border: 2px solid #ece8e1;
  box-shadow: inset 0 0 0 0 #ff4655;
  transition: 100ms linear;
}

.button:hover {
  box-shadow: inset 16vw 0 0 0 #ff4655;
  cursor: pointer;
}

.button:active {
  box-shadow: inset 16vw 0 0 0 #0f1923;
}
