{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet"  href="{%  static  'connections/css/connection.css'  %}">
  <link rel="stylesheet" href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <title>Ground station</title>
  <script src="{% static 'connections/js/gmap.js' %}"></script>
</head>
  <body>
    <div class="page-container grid-template-area">
      <div class="section-container map-container">
        <div id="map"></div>
      </div>
      <div class="section-container command-buttons">
        <div class="select-container">
          <p>Select the device</p>
          <select id="select-device">
            <option value="all">Send to all</option>
          </select>
        </div>
        <div class="buttons-set-container">
          <p>Get Location</p>
          <input class="button" id="position-absolute" type="button" value="Position Absolute">
          <input class="button" id="position-relative" type="button" value="Position Relative">
        </div>
        <div class="buttons-set-container">
          <p>Experiment Commands</p>
          <input class="button" id="auto" type="button" value="Start Auto">
          <input class="button" id="run-experiment" type="button" value="Run Experiment">
          <input class="button" id="set-auto" type="button" value="Set Auto">
          <div>
            <div class="checkbox-container">
              <input type="checkbox" name="abort-all-checkbox" id="abort-all" onclick="checkAbort(this)" class="custom-checkbox"/>
              <label for="abort-all" class="label">Abort All</label>
            </div>
          </div>
        </div>
        <div class="buttons-set-container">
          <p>Flight Commands</p>
          <input class="button" id="takeoff-and-hold" type="button" value="Takeoff and Hold">
        </div>
          <form method="post" action="" enctype="multipart/form-data" id="form">
            <div class="buttons-set-container">
              <p>Manage files</p>
              <label for="upload" class="custom-upload">
                <span class="material-symbols-outlined">
                  upload_file
                </span>
                Upload file
              </label>
              <input id="upload" type="file">
              <label for="submit-file" class="custom-submit-file">Submit file</label>
              <input type="submit" id="submit-file">
          </form>
        </div>
        <div class="buttons-set-container">
          <p>Configuration</p>
          <div class="checkbox-container">
            <input type="checkbox" name="scroll-checkbox" id="scroll" onclick="checkScroll(this)" class="custom-checkbox" checked />
            <label for="scroll" class="label">Auto Scroll</label>
          </div>
        </div>
        <div class="connection-status">
          <div id="ip-connected"></div>
          <div id="ip-disconnected"></div>
        </div>
      </div>
      <div class="section-container log" id="logs">
        <div id="actions-logs"></div>
      </div>
    </div>

    <script
      src="https://maps.googleapis.com/maps/api/js?key={{google_maps_key}}&callback=gmap.initMap&libraries=&v=weekly"
      async
    ></script>
  </body>
  <script>
    var serverAddress = "{{server_address}}";
  </script>
  <script src="{% static 'connections/js/main.js' %}"></script>

</body>
</html>