{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet"  href="{%  static  'connection_esp32/css/connection.css'  %}">
  <title>Ground station</title>
  <script src="{% static 'connection_esp32/js/gmap.js' %}"></script>
</head>
  <body>
    <div class="page-container">
      <div class="section-container map-container">
        <div id="map"></div>
      </div>
      <div class="section-container command-buttons">
        <div class="select-container">
          <p>Select the device</p>
          <select id="select-device">
            <option value="all">Send to all</option>
          </select>
        </div>
        <div class="buttons-set-container led-buttons">
          <p>Communication test</p>
          <input class="button" id="turn-on" type="button" value="Power On">
          <input class="button" id="turn-off" type="button" value="Power Off">
        </div>
        <div class="buttons-set-container forward-buttons">
          <p>Experiment Commands</p>
          <input class="button" id="forward-1" type="button" value="Start">
          <input class="button" id="forward-2" type="button" value="Abort">
        </div>
        <div class="buttons-set-container flight-buttons">
          <p>UAV Commands</p>
          <input class="button" id="initiate-flight" type="button" value="Take off">
          <input class="button" id="interrupt-flight" type="button" value="Return to home">
        </div>
      </div>
      <div class="section-container log">
        <div id="actions-logs"></div>
      </div>
      <div class="section-container connection-status">
        <div id="ip-connected"></div>
        <div id="ip-disconnected"></div>
      </div>
    </div>

    <script
      src="https://maps.googleapis.com/maps/api/js?key={{google_maps_key}}&callback=gmap.initMap&libraries=&v=weekly"
      async
    ></script>
  </body>

  <script src="{% static 'connection_esp32/js/main.js' %}"></script>
</body>
</html>