{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet"  href="{%  static  'connections/css/connection.css'  %}">
  <title>Ground station</title>
  <script src="{% static 'connections/js/gmap.js' %}"></script>
</head>
  <body>
    <div class="page-container">
      <div class="section-container map-container">
        <div id="map"></div>
      </div>
      <div class="section-container command-buttons">
        <div class="buttons-set-container">
          <p>Configuration</p>
          <div class="checkbox-container">
            <input type="checkbox" name="scroll-checkbox" onclick="checkScroll(this)" class="custom-checkbox" checked />
            <label>Auto Scroll</label>
          </div>
        </div>
        <div class="select-container">
          <p>Select the device</p>
          <select id="select-device">
            <option value="all">Send to all</option>
          </select>
        </div>
        <div class="buttons-set-container">
          <p>Get Location</p>
          <input class="button" id="position-absolute" type="button" value="Position Absolute">
          <input class="button" id="position-relative" type="button" value="Position Relative">
        </div>
        <div class="buttons-set-container">
          <p>Experiment Commands</p>
          <input class="button" id="auto" type="button" value="Start Auto">
          <input class="button" id="run-experiment" type="button" value="Run Experiment">
          <input class="button" id="set-auto" type="button" value="Set Auto">
          <div>
            <div class="checkbox-container">
              <input type="checkbox" name="abort-all-checkbox" onclick="checkAbort(this)" class="custom-checkbox"/>
              <label>Abort All</label>
            </div>
          </div>
        </div>
        <div class="buttons-set-container">
          <p>Flight Commands</p>
          <input class="button" id="takeoff-and-hold" type="button" value="Takeoff and Hold">
        </div>
      </div>
      <div class="section-container log" id="logs">
        <div id="actions-logs"></div>
      </div>
      <div class="section-container connection-status">
        <div id="ip-connected"></div>
        <div id="ip-disconnected"></div>
      </div>
    </div>

    <script
      src="https://maps.googleapis.com/maps/api/js?key={{google_maps_key}}&callback=gmap.initMap&libraries=&v=weekly"
      async
    ></script>
  </body>

  <script src="{% static 'connections/js/main.js' %}"></script>
</body>
</html>